@model Crud.Models.Employee


@{
    ViewData["Title"] = "Edit";
}

<div class="card">
    <div class="card-header">
        <h1 class="text-left text-success">Edit Employee</h1>
    </div>
    <div class=" card-body" class="text-center">
        <form method="post" asp-controller="Employees" asp-action="Edit">
            <div class="col-md-4">
                <label for="Email">Email</label>
                @Html.Kendo().TextAreaFor(ss=>ss.Email)
            </div>
            <div class="col-md-4">
                <label for="Emp_Name">Emp_Name</label>
                @Html.Kendo().TextAreaFor(ss=>ss.Emp_Name)
            </div>
            <div style="color:red">
                @Model.Response
            </div>
            <div class="row-cols-4">
                <div class="col-md-4">
                    <label for="Designation">Designation:</label>
                    @*<input type="text" asp-for="Designation" class="form-control" />*@
                    <select name="Designation" class="form-control" id="Designation">
                        <option value="" disabled selected hidden>Select Your Designation</option>
                        <option value="HR">HR</option>
                        <option value="Team Lead">Team Lead</option>
                        <option value="Lead">Lead</option>
                        <option value="Manager">Manager</option>
                        <option value="Senior Engineer">Senior Engineer</option>
                        <option value="Trainee Engineer">Trainee Engineer</option>
                        <option value="Intern">Intern</option>

                    </select>
                </div>

                <div class="col-md-4">
                    <label for="Type">Type</label>
                    @Html.Kendo().TextAreaFor(ss=>ss.Type)
                </div>


                <div class="form-group">
                    <input type="submit" value="Update" class="btn-outline-info" />
                    <a asp-action="Index">Back to List</a>
                </div>
                <br />
            </div>
        </form>
    </div>
</div>

    <style>
        .card {
            margin-left: 10px;
            padding-left: 5px;
        }
    </style>
