@model Crud.Models.MyInfo


@{
    ViewData["Title"] = "Create";
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet">

<br />
<br />
<br />

<div class=" container">
    <div class="row">
        <div class="col-6 offset-3">
            <div class=" card">
                <div class="card-header">
                    <h1 class="text-center" style="color:black"><i class="fa-solid fa-earth-americas"></i> Create Myinfo</h1>
                </div>
                <div class=" card-body">
                    <form method="post" asp-controller="MyInfos" asp-action="Create">

                        <div class="col-md-6">
                            <label for="Emp_Name">Emp_Name</label>
                            @(Html.Kendo().AutoCompleteFor(ss => ss.Emp_Name)
                                .DataTextField("Name")
                                .DataSource(source => source.Read(read => read.Action("AutocompleteEmpName", "MyInfos")))
                                )
                        </div>
                        <input type="hidden" id="Task_Name" name="Task_Name" />
                        <div class="col-md-6">
                            <label for="Task_Name">Task_Name</label>

                            @(Html.Kendo().MultiSelect()
                                .Name("Task")
                                .DataTextField("Name")
                                .DataValueField("Name")
                                .Placeholder("Select Task Name")
                                .AutoBind(false)
                                .DataSource(source => source.Read(read => read.Action("AutocompleteTaskName", "MyInfos")))
                                )
                            <div style="color:red">
                                @Model.Response
                            </div>
                            <br />
                            <div class="form-group">
                                <input type="submit" value="Create" id="btnsave" class="btn btn-primary" />
                                <a asp-action="Index">Back to List</a>

                            </div>

                            <br />
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

                <style>

                    .card {
                        margin-left: 10px;
                        padding-left: 5px;
                    }

                    body {
                        background-image: url('https://media.istockphoto.com/photos/dark-gloomy-blue-and-black-slate-background-or-texture-picture-id1387342670?k=20&m=1387342670&s=612x612&w=0&h=Ayr994IJLKsyW_uBlnh8cWu6c0o4tEbOcWVMR8Its7k=');
                        background-size: cover;
                    }
                </style>

                <script>
                    $(document).ready(function () {

                        $("#btnsave").click(function () {
                            debugger;
                            var task = $("#Task").data("kendoMultiSelect").value().join();
                            $("#Task_Name").val(task);
                            console.log(task);
                        });
                    });
                </script>
