@{
    ViewData["Title"] = "Index";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet">

<p>
    <br />
    <a asp-action="Create" style="color:mediumaquamarine" class="btn bg-dark">Create MyInfo</a>
</p>
<h3 style="font-family:'Berlin Sans FB'" class="text-center  text-dark"><i class="fa-sharp fa-solid fa-circle-info" style="color:black"></i> MyInfo</h3>
<div class="row">
    <div class="col-12">
        @(
            Html.Kendo().Grid<Crud.Models.MyTaskInfo>()
            .ToolBar(t => t.Search())
            .ToolBar(tools => tools.Excel())
            .Name("grid")
            .Columns(columns =>
            {
                columns.Bound(p => p.Emp_Name);
                columns.Bound(p => p.Task_Name).Filterable(false);

                columns.Command(command => { command.Custom("Delete").Click("DeleteMyInfo").HtmlAttributes(new { style = "color:red;" }); }).Width(200);

            })
            
            .Editable(editable => editable.Mode(GridEditMode.PopUp))
            .Pageable()
            .Sortable()
            .Search(s =>
            {
                s.Field(o => o.ID, "eq");
                s.Field(o => o.Task_Name, "contains");
               

            })
            .Excel(excel => excel
            .FileName("MyInfo Data")
            .Filterable(true)
            .ProxyURL(Url.Action("MyInfoList", "MyInfos"))
            )
            .Scrollable()
            .Filterable()
            .HtmlAttributes(new { style = "height:550px;" })
            .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(8)
            .Read(read => read.Action("MyInfoList", "MyInfos"))
            .Read(read => read.Action("MyInfoList", "MyInfos"))

            )
            )

    </div>
</div>

<script>
    function DeleteMyInfo(m) {
        
        m.preventDefault();
        var dataItem = this.dataItem($(m.currentTarget).closest("tr"));
        window.location.href = '/MyInfos/Delete/' + dataItem.Emp_ID;
    }
</script>

<body>
    <style>
        body {
            background-image: url('https://images.pexels.com/photos/1037992/pexels-photo-1037992.jpeg?auto=compress&cs=tinysrgb&w=600');
            background-size: cover;
        }

        .k-button-solid-base {
            border-color: rgba(0,0,0,.08);
            color:black;
            background-color: #f5f5f5;
            background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.02));
        }

        .k-grid-header {
            border-color: rgba(0,0,0,.08);
            font-size: larger;
            text-align: justify-all;
            color: black;
            background-color: black;
        }
        .k-grid-toolbar {
            border-color: inherit;
            background-color: white;
            box-shadow: none;
        }

        .k-column-title {
            min-width: 0;
            text-overflow: ellipsis;
            white-space: nowrap;
            -ms-flex-negative: 1;
            flex-shrink: 1;
            overflow: hidden;
            color: white;
        }

        .k-icon {
            color: var(--bs-white);
            background-color: black;
        }

    </style>

</body>



